*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: sans-serif;
}
form h3{
    color: #addfad;
}
.input{
    /* margin: 0 40%; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
}
.siz{
    width: 19rem;
    padding: 2rem 0;
}
.field{
    border: none;
    background-color: #feffff;
}
form{
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin: 2rem 1.3rem;
    gap: 1rem;
}
input{
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
.par{
    font-size: medium;
    opacity: 40%;
}
.btn{
    padding: 0.5rem;
    background-color: #addfad;
    color: #fff;
    border: none;
}
.for{
    font-size: smaller;
    opacity: 40%;
}
.field2{
    padding: 2rem 4rem;
    background-color: #addfad;
    border: none;
}
.input2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;
    color: #feffff;
}
.btn2{
    border-radius: 2rem;
    padding: 0.3rem 0.6rem;
    border-color: white;
    color: #fff;
    background-color: #addfad;
}
.or{
    font-size: 13px;
    text-align: center;
}
.p2{
    font-size: 14px;
    text-align: center;
}
#fx{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    width: 2rem;
    height: 2rem;
}
#fx img{
    width: 100%;
    height: 100%;
}
.good{
    font-size: 14px;
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}